<div class="container-body">
  <div class="login-box">
    <h2>Login</h2>
    <form (ngSubmit)="currentUser()" [formGroup]="loginForm"  >
      <label>Choose Username</label>
      <input  formControlName="username" type="text" />
      <div class="validName" *ngIf="loginForm.controls.username.touched && loginForm.controls.username.invalid">
        Username is required.
      </div>
      <input [disabled]="!loginForm.valid" class="btn btn-secondary" type="submit"  value="Login" />
    </form>
  </div>
</div>

